/* Logo.css */
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 31.5%;
    }
  }
  
  @keyframes cursor {
    50% {
      border-color: transparent;
    }
  }

  .logo-text {
    font-size: 36px;
    font-weight: bold;
    
  text-align: center;
 
 
  }
  .typing-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.05em solid black;
    animation: typing 3s steps(10) forwards, cursor 0.5s steps(1) 3s infinite;
  }
  
  .text-teal-200 {
    color: #2CBB99;
  }

  .text-white {
    -webkit-text-stroke: 0.01px #BBE0BA;
   
  }
  .green-text{
    color:#2CBB99;
    font-weight: bold;
    
    
  }

 