.logo-container {
    display: flex;
    
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #b9c239;
    overflow: hidden;
    color:white;
  }
  
  .logo-text {
    font-size: 36px;
    font-weight: bold;
    
  text-align: center;
 
 
  }
  
  .white-text {
    color: white;
  }
  .green-text{
    color:#2CBB99;
    font-weight: bold;
  }
  
  .fade-in {
    opacity: 1;
    transform: scale(1);
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
  }
  
  .fade-out {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
  }
  