*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* 이미지 전체에 넣기 */


.logo-wrapper{
    margin: 0;
    padding: 0;
    background-image: url('/public/img/logopage.png'); 
    background-size: contain;
    background-repeat: no-repeat; 
    position: relative;
width: 360px;
height: 640px;
backdrop-filter: blur(2px);
    display: flex;
    width:100%;
}

.logo-container{
    position: absolute;
    width:100%;
    
}

/* 디토 */
.logo-title h1{
    position: absolute;
    
    color:#88EBD3;
    -webkit-text-stroke: 0.2px black;
}

/* 디지털 어쩌구 */
.logo-title p{
    position: absolute;
    color:white;
    
    -webkit-text-stroke: 0.2px black;
}

/* 중간 글자 색바꿈 */
.green{
    color:#88EBD3;
}
