/* Question-wrapper */
:root {
  --question-wrapper-width: 696px;
  --question-wrapper-height: 432.83px;
}

/* You can adjust the viewport width and height values here */
:root {
  --viewportWidth: 1024px;
  --viewportHeight: 768px;
}

/* Calculated values using CSS variables */
.App {
  --question-wrapper-width-vw: calc((100 / var(--viewportWidth)) * var(--question-wrapper-width) * 1vw);
  --question-wrapper-height-vh: calc((100 / var(--viewportHeight)) * var(--question-wrapper-height) * 1vh);
}
